
/* style.css */
.centered-list {
    list-style: none;
    /* リストのスタイルを無効化 */
    padding: 0;
    /* パディングをリセット */
    max-width: 800px;
    /* 最大幅を設定 */
    margin: 0 auto;
    /* 上下のマージンを0にし、左右のマージンを自動で中央揃え */
    text-align: center;
    /* テキストを中央揃え */
}

.centered-list li {
    margin-bottom: 20px;
    /* 各リストアイテムの下のマージンを設定 */
}
  
 .audio-controls{
    width: 400px;
    display: flex;
   
    flex-direction: column;
  }

/* style.css */
.flex-item {
    display: flex;
    /* フレックスボックスとして設定 */
    align-items: center;
    /* アイテムを垂直方向の中央に配置 */
    justify-content: flex-start;
    /* アイテムを水平方向の左端に配置 */
}

.date-text {
    margin-right: 10px;
    /* 日付と再生バーの間の余白 */
}

/* style.css */
.edit-delete-links {
    display: flex;
    /* フレックスボックスとして設定 */
    flex-direction: column;
    /* アイテムを縦方向に配置 */
    align-items: flex-start;
    /* アイテムを左寄せにする */
}

.edit-delete-links a {
    margin-bottom: 5px;
    /* リンク間の余白 */
}

h1{
    text-align: center;
}